#home {
    background-image: url(../assets/img/avengers.jpg);
    height: calc( 100vh - 56px);
    /*ocupa todo el tamaño accesible*/
    width: 100vw;
    /*56*/
}

#home h1 {
    visibility: hidden;
}
