#home {}

#home article {
    position: relative;
}

#home article.col-4 {
    background-color: #ECEEED;
}

#home article.col-4 h2 {
    background-color: #ECEEED;
    border-style: dotted;
    border-color: #EEA7A3;
    width: 300px;
    height: 70px;
    margin: 10px;
    font-size: 50px;
    color: #8C8C8C;
    display: flex;
    align-items: center;
    justify-content: center;
}

#home article.col-4 .profile {
    font-size: large;
}

#home article.col-4 article {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center
}

#home article.col-4 .contact li {
    letter-spacing: 2px;
    line-height: 70px;
    list-style: none;
}

#home article.col-4 .contact a {
    color: black;
    position: absolute;
    left: 250px;
    padding: 10px;
}

#home article.col-4 .contact div {
    position: relative;
    left: 22px;
    top: 15px;
    font-weight: bold;
    opacity: 0;
    z-index: -20;
    border-radius: 0px 198px 198px 198px;
    -moz-border-radius: 0px 198px 198px 198px;
    -webkit-border-radius: 0px 198px 198px 198px;
    border: 2px solid #000000;
    background-color: #EEA7A3;
    -webkit-box-shadow: 11px 14px 5px -1px rgba(133, 109, 133, 0.27);
    -moz-box-shadow: 11px 14px 5px -1px rgba(133, 109, 133, 0.27);
    box-shadow: 11px 14px 5px -1px rgba(133, 109, 133, 0.27);
}

#home article.col-4 .contact a:hover + div {
    z-index: 0;
    animation: showUp 1.5s forwards;
}

#home article.col-4 .contact a:hover {
    animation: showLeft 1.2s forwards;
}

#home article.col-4 .skills p {
    font-size: large;
    letter-spacing: 2px;
    display: flex;
    flex-direction: column;
}

#home article.col-4 .skills progress {
    margin: 8px
}

#home article.col-4 .social {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: large;
}

#home article.col-4 .social div {
    flex-direction: row;
    align-items: center;
}

#home article.col-4 .social a {
    color: blue;
    margin: 20px;
    justify-content: space-around;
}

#home article.col-8 {
    position: relative;
}

#home article.col-8 article .work-exp {
    width: 500px;
}

#home article.col-8 article {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#home article.col-8 article li {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#home article.col-8 .lenguages ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50%;
}

#home .col-8 h3 {
    width: 300px;
}

#home .col-8 h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 70px;
    margin: 10px;
    background-color: #3E3F41;
    color: white;
    border-style: outset;
    font-size: 40px;
}

@keyframes showUp {
    0% {
        opacity: 0;
        transform: scale(0);
        /*transform: translateY(80px);*/
    }
    100% {
        opacity: 0.5;
        transform: scale(1);
        /*transform: translateY(0);*/
    }
}

@keyframes showLeft {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateX(-120px);
    }
}
